.navbar-container {
    width: 100%;
    height: 70px;
    background-color: rgb(13, 13, 13);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-bottom: 1px solid rgb(46, 46, 46);
}

.navbar-section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 250px;
}

.navbar-section a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.navbar-section .register {
    text-decoration: none;
    color: black;
    background-color: rgb(203, 163, 35);
    border-radius: 8px;
    padding: 10px;
    transition: .2s;
}

.navbar-section .register:hover {
    color: white;
}
