services:
  backend:
    build:
      context: ./apps/backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      - MODEL_NAME=${MODEL_NAME}
      - SERVER_ADDRESS=${SERVER_ADDRESS}
      - MISTRAL_API_KEY=${MISTRAL_API_KEY}
      - APP_ENV=${APP_ENV}
    depends_on:
      - redis
    networks:
      - app-network

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
