---
import "../styles/navbar.css";

---

<div class="navbar-container">
    <a href="/" class="acdi-header">ACDI</a>
    <div class="left-section">
        <a href="/" class="acdi-header">La démarche NIRD</a>
    </div>
    <div class="right-section">
        <a class="register" href="/register">S'inscrire</a>
    </div>
</div>
