---
import "../styles/navbar.css";

---

<div class="container">
    <div class="left-section">
        <a href="/">La démarche NIRD</a>
    </div>
    <div class="right-section">
        <a class="register" href="/register">S'inscrire</a>
    </div>
</div>
